{% extends 'main/base.html' %}

<style>
    .scrollable-tbody {
    display: block;
    max-height: 300px; /* Adjust this value as needed */
    overflow-y: auto;
    }

    table {
        display: block;
        width: 100%;
    }

    table thead {
        display: table;
        width: 100%;
    }

    table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
</style>

{% block content %}
    <div class="text-center">
        <table class="table table-bordered table-hover table-striped mx-auto">
            <thead>
                <tr>
                    <th>Show Name</th>
                    <th>Predicted Score</th>
                    <th>User Score</th>
                    <th>MAL Score</th>
                </tr>
            </thead>
            <tbody class="scrollable-tbody">
                {% for rec in recommendations %}
                <tr>
                    <td>{{ rec.ShowName }}</td>
                    <td>{{ rec.PredictedScore }}</td>
                    <td>{{ rec.UserScore }}</td>
                    <td>{{ rec.MALScore }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}